@import "../../../styles/settings.scss";

.root {
  display: flex;
  position: relative;
  align-items: center;
  color: $color-link;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  padding: 0 2rem;

  @media (max-width: $breakpoint-xs) {
    padding: 0 1rem;
  }
}

.separator {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 50%;
    width: 3px;
    background-color: $color-background;

    @media (max-width: $breakpoint-xs) {
      display: none;
    }
  }
}

.icon {
  padding: 0 0.5rem;
}
