@import "../../../styles/settings.scss";

.root {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  color: $color-link;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-link;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 1rem;
    line-height: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
