@import "../../../styles/settings.scss";

.section {
  padding-bottom: 4rem;
}

.root {
  width: 70%;
  padding-bottom: 8rem;
  @media (max-width: $breakpoint-m) {
    width: 100%;
  }
}

.description {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.25rem;

  @media (max-width: $breakpoint-m) {
    text-align: center;
  }
}

.link {
  font-weight: 500;
  color: $color-link;
  text-decoration: underline;
}
