@import "../../../styles/settings.scss";

.root {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: $color-text-bright;
  margin-right: 2rem;

  @media (max-width: $breakpoint-s) {
    margin-right: 0;
  }
}
