@import "../../../styles/settings.scss";

.root {
  color: $color-header;
  position: relative;
}

.big {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.5rem;

  @media (max-width: $breakpoint-s) {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
  }
}

.medium {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.75rem;
}

.small {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.underline {
  margin-bottom: calc(1rem + 2px);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-header-underline;
  }
}

.green,
.violet,
.blue,
.contact {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    height: 3px;
    width: 80px;
    border-radius: $radius;
  }
}

.green {
  &::after {
    background-color: $color-knowledge-section;
    color: $color-knowledge-section;
  }
}

.violet {
  &::after {
    background-color: $color-something-section;
    color: $color-something-section;
  }
}

.blue {
  &::after {
    background-color: $color-want-section;
    color: $color-want-section;
  }
}

.contact {
  color: $color-text-bright;
  &::after {
    background-color: $color-contact-section;
    color: $color-contact-section;
  }
}
