@import "../../../styles/settings.scss";

.root {
  padding-top: 6rem;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-s) {
    padding-top: 3rem;
  }
}
