@import "../../../styles/settings.scss";

.root {
  position: relative;
  background-color: $color-background;
  min-height: 300px;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.star {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: $color-star;
}

.header {
  flex-grow: 1;
  padding: 2rem 3rem 0;

  @media (max-width: $breakpoint-xs) {
    padding: 2rem 1rem 0;
  }
}

.githubLogo {
  font-size: 3rem;
  color: $color-header;
  margin-bottom: 1rem;
}

.title {
  color: $color-header;
  margin-bottom: 1rem;
}

.subtitle {
  color: $color-header;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.links {
  height: 4rem;
  background-color: $color-background-section;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $breakpoint-xs) {
    justify-content: space-between;
  }
}
