@import "../../../styles/settings.scss";

.root {
  position: relative;
  flex-grow: 1;
}

.logo {
  position: absolute;
  top: -3rem;
  right: 5rem;
  @media (max-width: $breakpoint-m) {
    top: -7rem;
    right: 1rem;
    width: 6rem;
  }
  @media (max-width: $breakpoint-s) {
    display: none;
  }
}
