@import "../../../styles/settings.scss";

.root {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color-background-section;
  min-height: 100vh;
}

.description {
  width: 50%;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;

  @media (max-width: $breakpoint-m) {
    width: 70%;
  }

  @media (max-width: $breakpoint-m) {
    width: 100%;
  }
}

.projectsNumber {
  position: sticky;
  text-align: right;
  top: 2rem;
  z-index: 99;
  font-size: 1rem;

  & > span {
    background-color: $color-background-section;
    display: inline-block;
    padding: 0.5rem;
    border-radius: $radius;
    margin-right: 1rem;
  }
}
