@import "../../../styles/settings.scss";

.root {
  color: $color-text-bright;
  background: $color-background-dark;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.description {
  width: 50%;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2rem;

  @media (max-width: $breakpoint-s) {
    width: 100%;
  }
}
